@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Inter:wght@100..900&display=swap");

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
}

body {
  font-family: Inter, Helvetica, sans-serif;
  background-color: var(--off-black);
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: var(--white);
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--dark-grey);
  width: 320px;
  border-radius: 10px;
}

h1 {
  font-size: 25px;
  font-weight: 400;
}

h2 {
  font-size: 15px;
  font-weight: 600;
  color: var(--green);
  margin: -12px 0 8px 0;
}

p {
  font-size: 14px;
}

#avatar {
  width: 85px;
  height: 85px;
  border-radius: 100px;
  margin: 25px 0 10px 0;
}

#links {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin: 14px 0 25px 0;
}

#links a {
  width: 85%;
  background-color: var(--grey);
  color: white;
  font-size: 14px;
  text-decoration: none;
  padding: 14px 0px 14px 0px;
  border-radius: 10px;
}

#links :hover {
  background-color: var(--green);
  color: var(--off-black);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
